.container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: red;
 }
.block.block2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: blue;
}
.block.block3{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: grey;
}
.block.block4{
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: green;
}
.block.block5{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: purple;
}
.block.block6{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: cornflowerblue;
}
.block.block7{
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: brown;
}
.block.block8{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: orange;
}
