body{
    background-color: #1D1E2C;
}
a{
    color: #59656F;
}
h1{
    text-align: center;
    background-color: #B2ABBF;
    margin: 40px 30% 10px 30%;
    border: 1px #B2ABBF solid;
    border-radius: 10px;
}

ul{
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}
li{
    text-align: center;
    list-style: none;
    display: list-item;

    margin-bottom: 5px;
}
footer{
    color: white;
    text-align: center;
}
/*  Flex box    */
.title{
    font-size: 1em;
    font-weight:bold;
    text-align:center;

    padding: 1em;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    /*gap: 1.5em;*/
}
.block{
    background-color: #F7EBEC;

    flex-direction: column;
    text-align: center;
    flex-grow: 1;

    margin: 1em;

    border: #F7EBEC solid 1px;
    border-radius: 25px;
}
