html {
      font-family: helvetica;
      background-color: #333;
  }

* {
    padding: 10px;
}

@media screen and (min-width: 700px){
    main{
        flex-direction: row;
        justify-content: center;
    }
}
header{
    background-color: goldenrod;
    color: white;
    text-align: center;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightgray;
    padding: 0;
}
nav a{
    background-color: white;
    text-align: center;
    margin: 5px;
    width: 100%;
    border: black 1px solid;
    color: goldenrod;
    text-decoration: none;
}
main{
    display: flex;
    flex-direction: column;
    background-color: grey;
}
section{
    background-color: white;
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

section img{
    max-width: 100%;
    height: auto;
}

section a{
    border: darkgrey 1px solid;
    margin: 10px;
    text-align: center;
    color: darkgray;
    text-decoration: none;
}

footer{
    background-color: goldenrod;
    color: white;
    text-align: center;
    border-top: solid 15px black;
}



