.colorDemo {
    width:100px;
    height:100px;
    border:1px solid black;
}

div{
    border: 2px solid grey;
    width: 45%;
}

.slider{
    display: block;
    margin-top: 10px;
}

section>div.colorBox {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    margin: 10px;

}